<!DOCTYPE html>
<html lang="en"  style="height: 100%;margin:0;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="web_test.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ANDROID DEVELOPMENT</title>
</head>
<body>
    <!--MAIN CODE-->
    <img src="and.png" alt="icon">
    <div class="topnav" >
        <a  href="#home">HOME</a>
        <a href="#news">ABOUT</a>
        <a class="active" href="#contact">TEST</a>
        <a href="#about">SETTING</a>
        <a href="#logout"  style="float:right;">LOGOUT</a>
    </div>
    <h1 class="heading">ANDROID DEVELOPMENT</h1>

    <div class="row-grid">
        <div class="sub-heading" style="background-color: lightcoral ;height: 45%;">
           <code class="update">LANGUAGE</code>
           <code class="update">NO OF ATTEMPTS</code>
           <code style="margin-right:10em;"class="update">BADGES</code>
        </div>
        <div class="sub-heading">
            <code>JAVA</code>
            <code style="margin-left:5em;">0</code>
            <code >
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </code>
            <button class="button" style="vertical-align:middle"><span>TEST </span></button>
         </div>
         <div class="sub-heading">
            <code>KOTLIN</code>
            <code style="margin-left:4em;">0</code>
            <code>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </code>
            <button class="button" style="vertical-align:middle"><span>TEST </span></button>
         </div>
         <div class="sub-heading">
            <code>C#</code>
            <code style="margin-left:6.6em;">0</code>
            <code>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </code>
            <button class="button" style="vertical-align:middle"><span>TEST </span></button>
         </div>
         <div class="sub-heading">
            <code>CORONA</code>
            <code style="margin-left:4.2em;">0</code>
            <code>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </code>
            <button class="button" style="vertical-align:middle"><span>TEST </span></button>
         </div>
         
    </div>


</body>
</html>