<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="test.css">
    <title>Test</title>
</head>
<body>
    <!--MAIN CODE-->
    <div class="topnav" >
        <a  href="#home">HOME</a>
        <a href="#news">ABOUT</a>
        <a class="active" href="#contact">TEST</a>
        <a href="#about">SETTING</a>
        <a href="#logout"  style="float:right;">LOGOUT</a>
    </div>
    <div class="container_boxes">
        <!-- ROW 1 -->
        <div class="row">
            <div class="box">
                <div class="icon">01</div>
                <div class="content_box">
                    <br><h3>WEB DEVELOPMENT</h3><br>
                    <p><button class="btn corousal_btn1">TEST</button></p>
                </div>
            </div>
            <div class="box">
                <div class="icon">03</div>
                <div class="content_box">
                    <br><h3>ANDROID DEVELOPMENT</h3><br>
                    <p><button class="btn corousal_btn1">TEST</button></p>
                </div>
            </div>
            <div class="box">
                <div class="icon">05</div>
                <div class="content_box">
                    <br><h3>PROGRAMMING LANGUAGES</h3><br>
                    <p><button class="btn corousal_btn1">TEST</button></p>
                </div>
            </div>
        </div>

        <!-- ROW 2 -->
        <div class="row">
            <div class="box">
                <div class="icon">02</div>
                <div class="content_box">
                    <br><h3>MACHINE LEARNING</h3><br>
                    <p><button class="btn corousal_btn1">TEST</button></p>
                </div>
            </div>
            <div class="box">
                <div class="icon">04</div>
                <div class="content_box">
                    <br><h3>INTERNET OF THINGS</h3><br>
                    <p><button class="btn corousal_btn1">TEST</button></p>
                </div>
            </div>
            <div class="box">
                <div class="icon">06</div>
                <div class="content_box">
                    <br><h3>BLOCKCHAIN</h3><br>
                    <p><button class="btn  corousal_btn1">TEST</button></p>
                </div>
            </div>
        </div>
    </div>
        
   
</body>
</html>
