<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="web_quiz.css">
    <script defer src="web_quiz.js"></script>
    <title>Test app</title>
</head>
<body>
    <div id="mess" class="instr " >
   <div class="inst">
       <h1>INSTRUCTIONS</h1>
        <ul class="list">
           <li>This is test</li>
           <li>This is test</li>
           <li>This is test</li>
           <li>This is test</li>
       </ul>
   </div>
   <button id="start-btn" class="button " style="vertical-align:middle"><span>Start </span></button>
</div>
<div class="container">
<div id="question-container"  class="ques hide" >
    <div id="question">Question</div>
    <div id="answer-buttons" class="btn-grid">
        
  </div>
  </div>
  <div class="controls">
    <button id="exit-btn" class="exit-btn btn hide">Exit</button>
    <button id="next-btn" class="next-btn btn hide">Next</button>
  </div>
  </div>

  <div id="score_card" class="instr hide" >
    <div class="inst">
        <h1>YOUR SCORE</h1>
    </div>
    <button id="score-btn" class="button1 " style="vertical-align:middle"></button>
 </div>
</body>
</html>