
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="icon" href="../divyansh/assets/images/logo.png" />
    <link rel="stylesheet" type="text/css" href="./profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="./index.html" style="font-weight: bold;color:#2c3e50 ;font-size: 35px;border: 0px; padding: 0px 0px 0px 0px;">DigiBadge</a></li>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#"  class="active">EDIT</a></li>
                <li><a href="#">CONTACT</a></li>
                <li style="float: right;padding-top: 20px;"><a href="#">LOGOUT</a></li>
            </ul>
        </nav>      
        </div>
    </header>
    <main class="main">
        <div class="left">
            <div class="left-content">
                <h2 style="margin-bottom: 0px;">BASIC</h2>
                <hr style="height: 2px; background-color: blue; "><br>
                <b>NAME :  </b> <p>Ankit kumar</p> <br><br>
                <b>MOTO :</b> <p>create this website</p> <br> <br>
                <b>PROFESSION :</b> <p>student</p>  <br><br>
                <b>INSTITUTE :</b> Kalinga institute of industrial technology</p> <br><br><br>
                <h2 style="margin-bottom: 0px;">LINKS</h2>
                <hr style="height: 2px; background-color: blue; "><br>
                <b>GITHUB : </b>  <a href="#">github</a><br><br>
                <b>TWITTER : </b><a href="#">twitter</a><br><br>
                <b>LINKEDIN : </b><a href="#">linkedin</a><br><br>
                <b>PORTFOLIO : </b><a href="#">abc.com</a><br><br>
            </div>
        </div>
        <div class="right">
            <div class="img">
                <img src="./ankit pic-2.jpg" alt="profile pic">
            </div>
            <div class="badges">
                <h4 style="text-align: center;">BADGES : 5</h4>
                <button type="button"><i class="fa fa-download"> </i> <a href="#" download> RESUME</a></button>
            </div>
        </div>
        <div class="activity">
            <p style="text-align:center; text-transform: uppercase; font-size: 40px; font-weight: bold;color:#0082e6;">ACTIVITY</p>
            <p style="padding-left:20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita molestias veniam aperiam natus accusantium, voluptate porro perferendis minus beatae aspernatur dolores? Quia, sapiente earum! Facilis tempore accusantium culpa pariatur. Maxime.</p>
        </div>
        <div class="user-badges">
            <p style="text-align:center; text-transform: uppercase; font-size: 40px; font-weight: bold;color:#0082e6;margin-top: 70px;">BADGES</p>
            <p style="padding-left:20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt aliquid distinctio fugit maiores facere minus similique? Earum non, nisi repellat delectus aut asperiores. Voluptas ab hic nihil dolor iusto aliquam.</p> 
            
            
            <div class="row">
                <div class="column">
                    <figure>
                        <img src="./android dev badge.png" alt="ankit kumar">
                        <figcaption>details of badge </figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img src="./android dev badge.png" alt="ankit kumar">
                        <figcaption>details of badge </figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img src="./android dev badge.png" alt="ankit kumar" style="">
                        <figcaption>details of badge </figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img src="./android dev badge.png" alt="ankit kumar">
                        <figcaption>details of badge </figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img src="./android dev badge.png" alt="ankit kumar">
                        <figcaption>details of badge </figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img src="./android dev badge.png" alt="ankit kumar">
                        <figcaption>details of badge </figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img src="./android dev badge.png" alt="ankit kumar">
                        <figcaption>details of badge </figcaption>
                    </figure>
                </div>
            </div>


        </div>

    </main>
    
    
    <div class="footer">
        <div class="inner_footer">

            <div class="footer_items">
                <h1>DigiBadge</h1>
                <p>It helps educators track their students’ progress. They also equip learners with a tool
                     to acknowledge their accomplishments and show what they are learning. There is great 
                     potential for badges to be valuable for industry when it comes to hiring competent 
                     employees.</p>
            </div>

            <div class="footer_items">
                <h2>Quick Links</h2>
                <div class="border">
                    <ul>
                        <a href="#"><li><br></li></a>
                        <a href="#"><li>Home</li></a>
                        <a href="#"><li>About</li></a>
                        <a href="#"><li>Developers</li></a>
                        <a href="#"><li>SignIn</li></a>
                        <a href="#"><li>SignUp</li></a>
                    </ul>
                </div>
            </div>

            <div class="footer_items">
                <h2>Contact Us</h2>
                <div class="border">
                    <ul>
                        <li><br></li>
                        <li><i class="fa fa-phone" aria-hidden="true"></i>1234567890</li>
                        <li><br></li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>xyz@gmail.com</li>
                    </ul>
                    <div class="social_media">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer_bottom">
            Copyright &copy; Team DARTH VADER 2020. All rights reserved.
        </div>
    </div>
    
</body>
</html>