
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="./profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="./index.html" style="border: 0px; padding: 0px 0px 0px 0px;">LOGO</a></li>
                <li><a href="#" class="active">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="#">EDIT</a></li>
                <li style="float: right;"><a href="#">LOGOUT</a></li>
            </ul>
        </nav>      
        </div>
    </header>
    <main class="main">
        <div class="left">
            <div class="left-content">
                <h2 style="margin-bottom: 0px;">BASIC</h2>
                <hr style="height: 2px; background-color: blue; "><br>
                <b>NAME :  </b> <p>Ankit kumar</p> <br><br>
                <b>MOTO :</b> <p>create this website</p> <br> <br>
                <b>PROFESSION :</b> <p>student</p>  <br><br>
                <b>INSTITUTE :</b> Kalinga institute of industrial technology</p> <br><br><br>
                <h2 style="margin-bottom: 0px;">LINKS</h2>
                <hr style="height: 2px; background-color: blue; "><br>
                <b>GITHUB : </b>  <a href="#">github</a><br><br>
                <b>TWITTER : </b><a href="#">twitter</a><br><br>
                <b>LINKEDIN : </b><a href="#">linkedin</a><br><br>
                <b>PORTFOLIO : </b><a href="#">abc.com</a><br><br>
            </div>
        </div>
        <div class="right">
            <div class="img">
                <img src="./ankit pic-2.jpg" alt="profile pic">
            </div>
            <div class="badges">
                <h4 style="text-align: center;">BADGES : 5</h4>
                <button type="button"><i class="fa fa-download"> </i> <a href="#" download> RESUME</a></button>
            </div>
        </div>
        <div class="activity">
            <p style="text-align:center; text-transform: uppercase; font-size: 40px; font-weight: bold;">ACTIVITY</p>
            <p style="padding-left:20px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita molestias veniam aperiam natus accusantium, voluptate porro perferendis minus beatae aspernatur dolores? Quia, sapiente earum! Facilis tempore accusantium culpa pariatur. Maxime.</p>
        </div>
        <div class="user-badges">
            <p style="text-align:center; text-transform: uppercase; font-size: 40px; font-weight: bold;">BADGES</p>
            <p style="padding-left:20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt aliquid distinctio fugit maiores facere minus similique? Earum non, nisi repellat delectus aut asperiores. Voluptas ab hic nihil dolor iusto aliquam.</p> 
            
            
            <div class="row">
                <div class="column">
                    <figure>
                        <img src="./android dev badge.png" alt="ankit kumar">
                        <figcaption>details of badge </figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img src="./android dev badge.png" alt="ankit kumar">
                        <figcaption>details of badge </figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img src="./android dev badge.png" alt="ankit kumar" style="">
                        <figcaption>details of badge </figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img src="./android dev badge.png" alt="ankit kumar">
                        <figcaption>details of badge </figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img src="./android dev badge.png" alt="ankit kumar">
                        <figcaption>details of badge </figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img src="./android dev badge.png" alt="ankit kumar">
                        <figcaption>details of badge </figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure>
                        <img src="./android dev badge.png" alt="ankit kumar">
                        <figcaption>details of badge </figcaption>
                    </figure>
                </div>
            </div>


        </div>

    </main>
    <footer>

    </footer>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
</body>
</html>